anndata==0.12.4
annoy==1.17.3
louvain==0.8.1
matplotlib==3.7.2
networkx==3.1
numpy==1.22.3
pandas==2.0.3
rpy2==3.5.1
scanpy==1.9.3
seaborn==0.11.2
scipy==1.10.1
umap-learn==0.5.3
torch==2.4.0
torch_cluster==1.6.3
torch_geometric==2.7.0
torch_sparse==0.6.18
tqdm==4.65.0

